
/* left */
.app-name-link span {
    font-size: 40px;
    font-weight: bold;
    text-shadow: #000;
}
.sidebar .sidebar-nav {
    padding-top: 5px;
    margin-bottom: 0 !important;
    background: #1781d1;
}
.sidebar>h1 {
    margin-bottom: 20px !important;
    background: #0068bb;
    color: #ffe400;
    font-size: 22px;
}
body .sidebar {
    padding-top: 17px;
    background-color: #0068bb;
    color: #fff;
}
.sidebar li.active {
    background: hsla(0,0%,100%,.1);
}
.sidebar li.active a {
    color: #88f4ff;
}
.sidebar ul li a {
    padding-left: 10px;
    border-left: 2px solid #57a7de;
    color: #f6f7fd;
    
}
.sidebar-nav a:hover {
    border-color: #42b983;
}
.sidebar ul li.active>a {
    border-left: 2px solid;
    border-right: none;
}
.sidebar-toggle {
    background-color: transparent !important;
}
.search {
    margin-bottom: 10px !important;
    background: #0068bb;
    border-bottom:none !important;
}
.search input {
    padding-left: 35px !important;
    border-radius: 18px;
    background: #4d96d0;
    color: #0068bb  !important;
    position: relative;
}
.search .input-wrap::before {
    position: absolute;
    content:url(../searchicon.png);
    z-index: 999;
    left: 18px;
    top: 30px;
}
.search input::-webkit-input-placeholder{
   color:#0068bb;
}
.search .clear-button svg {
    transform: scale(1) !important;
}
/* right */
.markdown-section {
    max-width: 960px;
    min-height: 1200px;
    margin-bottom: 45px;
    margin-top:45px;
    padding: 30px 40px;
    background: #fff;
    box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(0,32,128,.1), 0 0 0 1px #f0f2f7;
}
.markdown-section strong {
    padding: 2px 6px;
    background: #de6060;
    color: #fff;
}
.markdown-section iframe {
    margin: 0;
}
.content {
    /* height: 100%; */
    padding-top: 0;
    bottom: auto;
    background: #f6f7fd;
}
.markdown-section code {
    font-size: .8rem
}
.emoji {
    vertical-align: top;
    margin-top: 2px;
}
p img.medium-zoom-image {
    /* width: 70px; */
}
.listnumber {
    background: #1e84d3;
    color: #fff;
    font-size: 19px;
    border-radius: 50%;
    padding: 0 10px;
    width: 18px;
    height: 23px;
    font-weight: bold;
}
.readcss {
    font-size: 22px;
    color:#1e84d3;
    font-weight: bold;
}
.readtitle {
    color: #1e84d3
}
.readlist {
    margin-top: 2em;
    padding-left: 0 !important;
    list-style: none;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-between;

}
.readlist li {
    font-size: 16px;
}
.readcode code{
    background: transparent;
    font-size: 18px;
    color: #1e84d3;
    font-weight: bold;
    text-decoration: underline;
}
.readfoot {
    position: absolute;
    bottom: 2em;
    width: 100%;
    left: 0;
    text-align: center;
}